<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
    <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
    <%= f.input :password_confirmation, required: true %>
    
    <div class="field">
    <%= f.label :rol %><br />
    <%= f.select :rol, ['usuario','veterinario'] %>
  </div>
    
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up", class: 'button success' %>
  </div>
<% end %>

<%= render "usuarios/shared/links" %>
