<%= simple_form_for(@pet) do |f| %>
   <% if pet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pet.errors.count, "error") %> prohibited this pet from being saved:</h2>

      <ul>
      <% pet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
<div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-6 columns">
  <div class="field">
    <%= f.label :Nombre %>
    <%= f.text_field :nombre %>
  </div>

  <div class="field">
    <%= f.label :Especie %>
    <%= f.text_area :especie %>
  </div>
</div>
<div class="row">
      <div class="medium-6 columns">
  <div class="field">
    <%= f.label :Edad %>
    <%= f.number_field :edad %>
  </div>

     <div class="field">
    <%= f.label :Estado %><br />
    <%= f.select :estado, ['estable','grave'],:style => "opacity: 1" %>
  </div>
</div>
</div>
</div>

  
   <%= f.hidden_field :usuario_id %>


  <div class="actions">
    <%= f.submit "Create", class: "button success"%>
  </div>
<% end %>
