
<% if current_usuario.rol == "usuario" %>
    <% @petsUsuario = Pet.where(usuario_id: current_usuario.id) %>
    <% @appointmentsUsuario = Appointment.where(pet_id: @petsUsuario.ids) %>
  <% else %>
    <% @petsUsuario = Pet.all %>
    <% @appointmentsUsuario = Appointment.all %>
  <% end %>
    <div class="row">
    <br>
<h2> Citas </h2>
      <div class="col s12 m4 l3 light-blue accent-1"> 
      		
         <% @appointmentsUsuario.each do |appointment| %>
         	 <p><h6><li class="text-grey lighten-3"> Fecha:      <%= appointment.fecha %></li>
        <li> Hora:      <%= appointment.hora %></li>
        <li> Consultorio:      <%= appointment.consultorio %></li>
        <li> Mascota:        <%= appointment.pet_id ? Pet.where(id: appointment.pet_id)[0].nombre : "No tiene mascotas" %></li></p></h6>
         <% end %>
      </div>

      <div class="col s12 m12 l9"> 


        <h1>Pets</h1> 
<% @petsUsuario.each do |pet| %>
  <div class="col s12 m12 l12 grey darken-1">
  
    <h2 class="header"><%= pet.nombre %></h2>
    <div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-6 columns">
        <%= image_tag(pet.avatar_url, :width => 500, :height => 150) if pet.avatar.present? %>
      </div>
      <div class="medium-6 columns">
          <p><h5><li class="text-grey lighten-3"> Especie:      <%= pet.especie %></li>
        <li> Edad:      <%= pet.edad %></li>
        <li> Estado:      <%= pet.estado ? "estable": "grave" %></li>
        <li> Dueño:       <%= pet.usuario_id ? Usuario.where(id: pet.usuario_id)[0].email : "No tiene dueño" %></li></p>
        <% if current_usuario.rol == 'usuario' %>
          <td class='text-darken-2'><%= link_to 'Show', pet, class: 'button primary'%></td>
              <td><%= link_to 'Edit', edit_pet_path(pet), class: 'button warning'%></td>
            <% else %>
            <td class='text-darken-2'><%= link_to 'Show', pet, class: 'button primary'%></td>
             <td><%= link_to 'Destroy', pet, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button alert'%></td>
             </h5>
             <% end %>
		</div>
        </div>
        </div>
        </div>
      </div>
      
    <% end %>
</div>
      </div>

    </div>

<footer class="page-footer indigo">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Veterinaria el ultimo adios</h5>
                <p class="grey-text text-lighten-4">Aplicacion Desarrollo de aplicaciones cliente-servidor</p>
                <p class="grey-text text-lighten-4"> UNIVERSIDAD POLITECNICA DEL ESTADO DE DURANGO </p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contactanos</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="www.facebook.com/ulises.mireles.1276">Facebook Ulises Mireles </a></li>
                  <li><a class="grey-text text-lighten-3"> Tel. 677-108-44-10</a></li> 
                  <li><a class="grey-text text-lighten-3" href="www.facebook.com/josemiguel.beltranavitia">Facebook Jose Miguel Beltran Avitia</a></li>
                  <li><a class="grey-text text-lighten-3"> Tel. 618-120-99-43</a></li> 
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            © 2014 Copyright Text | Colaboradores Ulises Mireles Cruz, Jose Miguel Beltran Avitia 
           
            </div>
          </div>
        </footer>
    

