
<div class="row">
  <div class="medium-8 columns">
    <div class="row">
      <div class="medium-6 columns">
<p>
  <%= image_tag(@pet.avatar_url, :width => 500, :height => 450) if @pet.avatar.present? %>
</p>
</div>
<div class="medium-6 columns">
<p>
  <strong>Nombre:</strong>
  <%= @pet.nombre %>
</p>

<p>
  <strong>Especie:</strong>
  <%= @pet.especie %>
</p>

<p>
  <strong>Edad:</strong>
  <%= @pet.edad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @pet.estado %>
</p>


</div>
</div>
</div>
</div>
<table>
<thead>
    <tr>
      <th width=25%>Fecha</th>
      <th width=25%>Hora</th>
      <th width=25%>Consultorio</th>
      <th width=25%>Agregado</th>
      <th colspan="3"></th>
    </tr>   
  </thead>
</table> 
<div id="appointments">
  <%= render :partial => @pet.appointments.reverse %>
</div>

<%= form_for([@pet, Appointment.new], remote: true) do |f| %>

<% if current_usuario.rol == 'usuario' %>

<%else%>
<div class="field">
  <%= f.label :Fecha %>
  <%= f.date_field :fecha %>
   
</div>


<div class="field">
  <%= f.label :Hora %>
   <%= f.time_field :hora %>
</div>

<div class="field">
  <%= f.label :Consultorio %>
   <%= f.text_field :consultorio %>
</div>

<div class="actions">
  <%= f.submit "Agregar cita", class: "button primary" %>
</div>
<% end %>
<% end %>

<%= link_to 'Edit', edit_pet_path(@pet), class: 'button warning' %> |
<%= link_to 'Back', pets_path, class: 'button secondary' %>
