<h1><center>Usuarios</center></h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Rol</th>
      <th colspan="3"></th>
    </tr>
  </thead>


  <tbody>
    <% @usuarios.each do |usuario| %>
     
      <tr>
        <td><%= usuario.email %></td>
        <td><%= usuario.rol %></td>

        
      </tr>
   <%end%>
  </tbody>
</table>
