<%= div_for appointment do %>

	<p id="notice"><%= notice %></p>
<table>
  <thead>
  </thead>
  <tbody>
   
      <tr>
        <td width=25%><%= appointment.fecha %></td>
        <td width=25%><%= appointment.hora %></td>
        <td width=25%><%= appointment.consultorio %></td>
       
        <td width=25%><%= time_ago_in_words(appointment.created_at)%></td>
      </tr>
    
  </tbody>
</table>
<% end %>