var new_appointment =$("<%= escape_javascript(render(:partial =>@appointment))%>").hide();
$('#appointments').prepend(new_appointment);
$('#appointment_<%=@appointment.id%>').fadeIn('slow');
$('#new_appointment')[0].reset();