<p id="notice"><%= notice %></p>

<h1>Appointments</h1>

<table>
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Hora</th>
      <th>Consultorio</th>
      <th>Pet</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @appointments.each do |appointment| %>
      <tr>
        <td><%= appointment.fecha %></td>
        <td><%= appointment.hora %></td>
        <td><%= appointment.consultorio %></td>
        <td><%= appointment.pet_id ? Pet.where(id: appointment.pet_id)[0].nombre : "No tiene mascotas" %></td>
        
    <% end %>
  </tbody>
</table>

<br>


