<p id="notice"><%= notice %></p>

<p>
  <strong>Fecha:</strong>
  <%= @appointment.fecha %>
</p>

<p>
  <strong>Hora:</strong>
  <%= @appointment.hora %>
</p>

<p>
  <strong>Consultorio:</strong>
  <%= @appointment.consultorio %>
</p>

<p>
  <strong>Pet:</strong>
  <%= @appointment.pet_id %>
</p>

<%= link_to 'Edit', edit_appointment_path(@appointment) %> |
<%= link_to 'Back', appointments_path %>
